@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;	
	height: 100vh;	
	display: flex;
	align-items: center;
}

.panel {
	flex: 1;
	width: auto;
	margin-left: auto;
    margin-right: auto;
	background-color: black;
	background-color: rgba(60, 29, 61, 0.7);
	padding: 3em;
	box-sizing: border-box;
}

.panel-login {
	max-width: 40em;	
	height: 20em;	
}

.panel-cadastro{
	max-width: 100em;
}

.img-background {
    background-color: black;
	background-image: url("../img/css-background-image-size1.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	background-size: cover;
}

label{
  color: white;	
}

legend{
	color: white;
}